html{
    background-color: grey;
    font-size: 32px;
}
 
/* 1 em = 16pixels */

body{
    background-color: blue;
    width: 50%;
    font-size: 3rem;
}

.pai{
    background-color: blueviolet;
    width: 50%;
    font-size: 1.5rem;
}

.filho{
    background-color: brown;
    width: 50%;
    font-size: 0.5rem;
}